VITE_SUPABASE_URL=https://odhcsjbtergzhyyooscm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kaGNzamJ0ZXJnemh5eW9vc2NtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxNDAxODgsImV4cCI6MjA5MjcxNjE4OH0.5astNtAn2-hBjDEkMsK5S8y0aRFzegIv_ORI2YzFR9o
VITE_OPENROUTER_KEY=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